.bgimg{
    background-image: url("https://us.123rf.com/450wm/yuliaglam/yuliaglam1311/yuliaglam131100076/23652087-vector-blue-background-with-gold-sparkles.jpg?ver=6");
    background-size: cover;
    height: 250vh;
}
.headfirst{
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600px;
    padding: 25px;
}
.bgcardcarousel{
    background-color: goldenrod;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 25px;
}
.cardcon{
    padding: 20px;
}
.headsecond{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
}
.paraline{
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
.OPlogoimg{
    height: 4%;
    width: 3%;
}
