.bgimg{
    background-image: url("https://t4.ftcdn.net/jpg/03/63/03/71/360_F_363037182_pxdQlbPXSdQvripjapD7V7TTd6Tt3Xli.jpg");
    background-size: cover;
    height: 250vh;
}
.headfirst{
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600px;
    padding: 25px;
}
.bgcardcarousel{
    background-color: violet;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 25px;
}
.cardcon{
    padding: 20px;
}
.headsecond{
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
}
.iphimg{
    height:3%;
    width:3%;
}
.paraline{
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
