.bgimg{
    background-image: url("https://img.freepik.com/premium-photo/shiny-bubbles-texture-glitter-background-blue-pink_279525-27904.jpg?w=1380");
    height: 180vh;
    background-size: cover;
}
.mobilehead{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 25px;
}
.layoutcard{
    background-color:darkmagenta;
    border-radius: 8px;
    padding: 18px;
    margin: 15px;
}
.brandscont{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.brandspara{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.brandimg{
    width: 135px;
    height: 120px;
}
.brandimg:hover{
    transform:scale(1.40);
}
.brandimage{
    width: 177px;
    height: 150px;
}
.brandimage:hover{
    transform:scale(1.40);
}
.iphimg{
    height: 1%;
    width: 2%;
}
.redmilogoimg{
    height: 1%;
    width: 2%;
}
.OPlogoimg{
    height: 4%;
    width: 3%;
}
